ul.nav li {
  float: left;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul.nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #555;
}

ul.nav li a.active:hover {
  background-color: #4bd1a0;
}

ul.nav li a.active {
  background-color: #04AA6D;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}