/* This contains all styling done on pages. */
ul.nav li {
  float: left;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul.nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #555;
}

ul.nav li a.active:hover {
  background-color: #4bd1a0;
}

ul.nav li a.active {
  background-color: #04AA6D;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.custRegisterList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.custRegisterList li {
  margin-bottom: 1%;
}

ul.custRegisterList input {
  margin: 0;
}

/* Canvas setup for background */
html, body { 
  margin: 0;
  height: 100%;
  color: white;
  background-color: #d161b5;
}